<h2>Willkommen <%= available_name(current_user) %></h2>

<% if can? :administrate, 'Dashboard' %>
  <h5>Zu aktivierende, schon registrierte Nutzer</h5>
  <ul class="unstyled">
    <% for user in User.inactive %>
      <li>
        <%= link_to "#{user.username}", edit_user_path(user) %> (<%= user.role %>)
      </li>
    <% end %>
  </ul>

  <h5>Bereits aktivierte Nutzer</h5>
  <ul class="unstyled">
    <% for user in User.active %>
      <li>
        <%= link_to "#{user.username}", edit_user_path(user) %> (<%= user.role %>)
      </li>
    <% end %>
  </ul>
  
  <p>freizugebende Beiträge</p>
<% end %>

<% if can? :edit, 'Dashboard' %>
  <p>unvollständige Talls</p>
<% end %>

<% if can? :read, 'Dashboard' %>
  <p>unvollständiges Profil</p>

  <p>ungesehene Kommentare</p>
<% end %>