<% title "Bilder zum Besuch von #{@imagetag.imageable_type.constantize.find_by_id(@imagetag.imageable_id).survey.site.name} am #{@imagetag.imageable_type.constantize.find_by_id(@imagetag.imageable_id).start_date.strftime("%d.%m.%Y")} verknüpfen" %>

<%= form_for @imagetag do |f| %>
<%= f.error_messages %>
  <%= f.hidden_field :imageable_id %>
  <%= f.hidden_field :imageable_type %>

  <div class="row">
    <div class="container span12">
      <ul class="thumbnails">
      <% for image in Image.all-@imagetag.not_assigned_to %>
        <li class="span2">
          <div class="thumbnail">
            <a href="#<%= image.id %>" role="button" data-toggle="modal">
              <%= image_tag image.imagefile_url(:thumb), :class => "img-polaroid" %>
            </a>
            <p><%= check_box_tag "image_ids[]", image.id %> auswählen</p>
            <p>
              <strong><%= link_to (image.name ||= "Untitled"), image %></strong> <small>(<%= image.imagetype %>)</small>
            </p>
            <p style="height:3.3em;line-height:1.1em;">
              <small><%= truncate(image.description, :length => 80, :separator => ' ') %></small>
            </p>
            <% if can? :edit, image %>
              <p>
                <small>
                  <%= link_to "Bearbeiten", edit_image_path(image) %> | 
                  <%= link_to "Entfernen", image, :confirm => 'Bild endgültig entfernen?', :method => :delete %>
                </small>
              </p>
            <% end %>
          </div>
        </li>

        <div id="<%= image.id %>" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><%= image.imagefile %></h3>
          </div>
          <div class="modal-body large">
            <p><%= image_tag image.imagefile_url(:big), :class => "img-polaroid" %></p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      <% end %>
    </ul>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <%= link_to "Abbrechen", set_path_from_imageable(@imagetag), :class => 'btn' %>
    oder <%= link_to "Neue Bilder hinzufügren", new_image_path, :class => 'btn' %>
  </div>
<% end %>