<div class="field">
  <div class="control-group">
    <%= f.label :reporttype, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:reporttype, Report::REPORTTYPES, :class => 'select-field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reporttext, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :reporttext, :class => 'text-area' %>
    </div>
  </div>
  <small><%= f.link_to_remove "Diese Beschreibung entfernen" %></small>
</div>