<% title "nicht vorgesehen" %>
<!--
<% content_for :overview do %>
  <p>
    als Teil der Begehung am Siedlungsplatz von <strong><%= link_to "#{@survey.site.name} (#{@survey.number})", @survey %></strong> für das Projekt <%= link_to "#{@survey.project.name}", project_path(@survey.project) %>. <small>(<%= link_to "zur Siedlungsplatzansicht", @survey.site %>)</small>
  </p>
<% end %>

<% content_for :thead do %>
<% unless @survey.visits.empty? %>
  <tr>
    <th class="span2">Datum</th>
    <th class="span3">Dauer</th>
    <% if logged_in? %>
      <th></th>
    <% end %>
  </tr>
<% else %>
  <tr>
    <th class="span6"></th>
    <th class="span2"></th>
  </tr>
<% end %>
<% end %>

<% content_for :tbody do %>
  <% unless @survey.visits.empty? %>
    <% for visit in @visits %>
      <tr>
        <td><%= link_to "#{visit.start_date.strftime("%d.%m.%Y")}", survey_visit_path(visit.survey, visit) %></td>
        <td><%= convert_seconds_to_time(visit.start_date, visit.end_date) %></td>
        <% if logged_in? %>
          <td style="text-align:right;">
            <%= link_to "Bearbeiten", edit_survey_visit_path(visit.survey, visit), :class => 'btn btn-mini' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>Der Ort wurde bisher noch nicht durch das Projekt besucht.</td>
      <% if logged_in? %>
        <td><%= link_to "Informationen zu einem neuen Besuch aufnehmen", new_survey_visit_path(@survey) %>.</td>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% content_for :indexsidebar do %>
  <p></p>
<% end %>

-->