<% title "Besuch von #{@visit.survey.site.name} am #{@visit.start_date.strftime("%d.%m.%Y")}" %>
<% content_for :overview do %>
  <p>
    Übersicht aller Besuche durch <%= @visit.survey.project.name %> an diesem Siedlungsplatz <%= link_to "ansehen", survey_path(@visit.survey) %>. Zum nächsten | vorherigen Besuch wechseln. Alle durch <%= @visit.survey.project.name %> besuchte Orte <%= link_to "ansehen", project_path(@visit.survey.project) %>.
  </p>
  <p>
    Siedlungsplatz von <%= link_to "#{@visit.survey.site.name}", site_path(@visit.survey.site) %> <%= link_to "(#{@visit.survey.number})", survey_path(@visit.survey) %> für das Projekt <%= link_to "#{@visit.survey.project.name}", project_path(@visit.survey.project) %>. Besuch am <strong><%= link_to "#{@visit.start_date.strftime("%d.%m.%Y")}", survey_visit_path(@visit.survey, @visit) %></strong>.<br />
    Dauer: <%= convert_seconds_to_time(@visit.start_date, @visit.end_date) %> (zwischen <%= @visit.start_date.strftime("%H:%M") %> und <%= @visit.end_date.strftime("%H:%M") %>).
  </p>
<% end %>

<% content_for :text do %>
<% for document in @visit.documents %>
  <p>
    <% if document.title.empty? %>
      <strong><%= document.documenttype %></strong>
    <% else %>
      <strong><%= document.title %></strong> (<%= document.documenttype %>)
    <% end %>
    <% if logged_in? %>
      <small><%= link_to "Bearbeiten", edit_document_path(document) if can? :edit, @site %></small>
    <% end %>
  </p>
  <p><%= document.content %></p>
<% end %>

<% end %>

<% content_for :media do %>
    <ul class="nav nav-tabs" id="rightTab">
      <li class="active"><a href="#images" data-toggle="tab">Ansichten</a></li>
      <li><a href="#maps" data-toggle="tab">Karten</a></li>
      <li><a href="#drawings" data-toggle="tab">Pläne und Skizzen</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="images">
        <%= render :partial => "shared/imagetab", :locals => { :visit => @visit, :tab => "Ansicht", :dtab => nil } %>
      </div>
      <div class="tab-pane" id="maps">
        <%= render :partial => "shared/imagetab", :locals => { :visit => @visit, :tab => "Karte", :dtab => nil } %>
      </div>
      <div class="tab-pane" id="drawings">
        <%= render :partial => "shared/imagetab", :locals => { :visit => @visit, :tab => "Plan", :dtab => "Skizze" } %>
      </div>
    </div>
<% end %>

<% content_for :links do %>
  <% if can? :edit, @visit %>
    <div class="row">
      <div class="span3">
        <ul class="unstyled">
          <li><%= link_to "Neuer Bericht", new_document_path(:documentable_type => @visit.class, :documentable_id => @visit) %></li>
          <li><%= link_to "Zuvor hochgeladene Bilder verknüpfen", new_imagetag_path(:imageable_id => @visit, :imageable_type => @visit.class) %></li>
          <a href="#add-image" role="button" data-toggle="modal">Bild direkt zu diesem Besuch hochladen</a>
        </ul>
      </div>
      <div class="span2 text-right">
        <%= link_to "Bearbeiten", edit_survey_visit_path(@visit.survey, @visit), :class => 'btn btn-small' %>
      <%= link_to "Löschen", [@visit.survey, @visit], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger' %>
      </div>
    </div>


    <div id="add-image" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Upload eines Bildes zu <%= @visit.start_date.strftime("%d.%m.%Y") %></h3>
      </div>
      <%= form_for Image.new, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
        <%= f.hidden_field :imageable_id, :value => @visit.id %>
        <%= f.hidden_field :imageable_type, :value => @visit.class %>
        <div class="modal-body">
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :description, :class => 'text_area', :rows => 3 %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :imagefile, :class => 'control-label' %>
            <div class="controls">
              <%= f.file_field :imagefile, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :imagetype, :class => 'control-label' %>
            <div class="controls">
              <%= f.select(:imagetype, Image::IMAGETYPES, :class => 'text_field') %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Speichern", :class => "btn btn-primary" %>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>