<%= form_for @document, :html => { :class => '' } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :documentable_id %>
  <%= f.hidden_field :documentable_type %>

  <div class="row">
    <div class="span8">
      <div class="row">
      <div class="control-group span3">
        <%= f.label :documenttype, "Typ", :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:documenttype, select_document_type(@document.documentable_type), :class => 'select-field span3') %>
        </div>
      </div>
    
    
      <div class="control-group span5">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :size => "30", :class => 'text_field span5' %>
          <span class="help-block">Wenn Sie den Titel weg lassen wird automatisch der Typ verwandt</span>
        </div>
      </div>
    </div>

      <div class="control-group">
        <%= f.label :content, "Text", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :content, :size => "30x20", :class => 'span8' %>
        </div>
      </div>
    </div>
    <div class="span4">
      Andere Informationen.. Literatur hier hinzu vielleicht
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <%= link_to "Abbrechen", set_path_from_documentable(@document), :class => 'btn' %>
  </div>
<% end %>
