<div class="field">
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </p>
  <small><%= f.link_to_remove "Diesen Namen entfernen" %></small><br />
</div>