<% title "Alle Siedlungsplätze" %>

<% content_for :overview do %>
  
<% end %>

<% content_for :thead do %>
  <tr>
    <th class="span5">Name</th>
    <th class="span2">Bezirk</th>
    <th class="span2"><div style="width:40px; display:inline-block;">Nr.</div>Projekt</th>
    <% if logged_in? %>
      <th></th>
    <% end %>
  </tr>
<% end %>

<% content_for :tbody do %>
  <% for site in @sites %>
    <tr>
      <td>
        <ul class="unstyled">
          <li><%= link_to site.name, site %></li>
          <li><small><%= site.appellations.map(&:appellation_list).join(", ") %></small></li>
        </ul>
      </td>
      <td><%= site.district.name %></td>
      <td>
        <ul class="unstyled">
          <% for survey in site.surveys %>
            <li><div style="width:40px; display:inline-block;">(<%= link_to survey.number, survey_path(survey) %>)</div> <%= survey.project.name %></li>
          <% end %>
        </ul>
      </td>
      <% if logged_in? %>
        <td style="text-align:right;">
          
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% content_for :indexsidebar do %>
  
<% end %>