<% title "Image", nil %>
<div class="row">
  <div class="span12" style="height:40px;">
    <%= link_to "Alle Bilder anzeigen", images_path %>
    <div class="pull-right">
      <%= link_to "Bearbeiten", edit_image_path(@image), :class => 'btn btn-small' %>
      <%= link_to "Löschen", @image, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= link_to image_tag(@image.imagefile_url(:big), :class => "img-polaroid"), @image, :data => {:toggle => "tooltip"}, :title => "Anklicken öffnet das Original" %>
  </div>
  <div class="span4">
    <p>
      <strong>Name:</strong>
      <%= @image.name %><br />
      <strong>Beschreibung:</strong><br />
      <%= @image.description %>
    </p>
    <p>
      <strong>Upload:</strong>
      <%= available_name(@image.creator) %> am <%= @image.created_at.strftime("%d.%m.%Y") %><br />
      <strong>Update:</strong>
      <%= available_name(@image.updater) %> am <%= @image.updated_at.strftime("%d.%m.%Y") %>
    </p>
    <p>
      <strong>Orginaldateiname:</strong><br />
      <%= @image.imagefile %>
    </p>
    <h4>Verknüpfungen</h4>
    <ul class="unstyled">
      <% for imagetag in @image.imagetags %>
        <li>
          <%= link_to "#{imagetag.imageable.survey.site.name} am #{imagetag.imageable.start_date.strftime("%d.%m.%Y")}", survey_visit_path(imagetag.imageable.survey, imagetag.imageable) if imagetag.imageable_type == "Visit" %><br />
          <%= imagetag.imageable.inspect %><br /><%= imagetag.inspect %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

